# Prerequisites
*.d

# Compiled Object files
x64
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# VS stuff
*.opendb
*.db
.vs
*.filters
*.suo
*.user
ProjectSpecialK/save.zip
ProjectSpecialK/console.log
ProjectSpecialK/options.json
ProjectSpecialK/mods
mods
ProjectSpecialK/map.png
ProjectSpecialK/imgui.ini
release
*PVS*